.section {
  &.section-story-blog {
    margin-bottom: 70px;

    .related-stories {
      overflow: hidden;
      position: relative;
    }
    .post-box {
      .blog-details {
        margin-top: 25px;
        .date {
          color: $third-color;
          line-height: 1;
          margin-bottom: 0;
        }
        .name {
          color: #222222;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.03em;
          margin-top: 10px;
          transition: all 0.5s ease-in-out;
          &:hover {
            color: $third-color;
          }
        }
        .line {
          width: 75px;
          height: 3px;
          margin-top: 8px;
          background-color: $third-color;
          text-align: center;
          margin-bottom: 16px;
        }
        .by {
          line-height: 1;
          margin-top: 0;
          letter-spacing: 0.1em;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          color: $theme-body-sub-title-color;
          text-transform: capitalize;
        }
      }
    }
  }
}
