.section {
  &.section-brands-slider {
    margin-bottom: 70px;

    .brands-slider {
      position: relative;
      overflow: hidden;
    }
    .box-image {
      img {
        opacity: 0.5;
        filter: grayscale(100%);
        transition: 0.5s ease-in-out;
      }

      &:hover {
        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
    @media screen and(max-width: 768px) {
      .box-image {
        a {
          text-align: center;
        }
        img {
          margin: auto;
        }
      }
    }
  }
}
