.section {
  &.section-home-banners {
    padding-top: 70px;
    .box {
      position: relative;
      flex: 0 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
      overflow: hidden;
      .back {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        .back {
          transform: scale(1.1);
        }
      }

      .save {
        color: $third-color;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        font-size: 18px;
      }
      .label {
        font-size: 60px;
        font-weight: 700;
        color: #222222;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        line-height: 1;
      }
      .content-wrapper {
        position: relative;
        padding: 114px 70px;
      }
    }

    @media screen and(max-width: 1024px) {
      .listing {
        flex-wrap: wrap;
      }
      .box {
        .content-wrapper {
          padding: 70px;
        }
      }
    }
    @media screen and(max-width: 768px) {
      .box {
        flex: 0 1 100%;
        max-width: 100%; 
        .back {
          display: flex;
          align-items: center;
          justify-content: center;
        }      
        a {
          display: flex;
          justify-content: sta;
          align-items: center;
        }
        .content-wrapper {
          justify-content: flex-start;
          padding: 70px 30px;
        }
        & + .box {
          margin-top: 40px;
        }
      }
    }
    @media screen and(max-width: 767px) {
      .box {
        .save {
          margin-bottom: 5px;
        }
        .label {
          font-size: 50px;
        }
      }
    }
  }
}
