.page-sidebar {
  .collection-banner {
    margin-top: $margin-regular;
  }

  .collection-featured-products {
    margin-top: $margin-regular;
  }
}

.content {
  .tabs-module {
    margin-top: $margin-regular;
  }
}
