/** MAIN NAV PLUS LOGO */
header {
  background-color: $white;

  %show-div {
    top: 50px;
    position: absolute;
    z-index: 10;
    background-color: $white;
    transition: all 0.3s ease-in-out;
    min-width: 160px;
    box-shadow: 0 0 1px 0 #ebebeb;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    right: 0;
    padding: 15px 20px;
    border-radius: 0;    
  }

  .top-header {
    background-color: $top-header;

    .header-contact {
      padding: 15px 0;
  
      li {
        color: $header-font;
        font-size: 14px;
        padding-right: 25px;
  
        i {
          color: $main-color;
          padding-right: 10px;
        }
      }
    }

    .header-dropdown {
      li {
        cursor: pointer;
        color: $header-font;
        padding: 15px 25px;
        padding-right: 20px;

        &:hover {
          i {
            color: $main-color;
          }
        }
  
        &:first-child {
          padding-right: 0;
        }

        i {
          padding-right: 5px;
          transition: all 0.5s ease-in-out;
          color: $header-font;
        }

        ul {
          li {
            padding-top: 0;
            padding-bottom: 0;

            a {
              text-transform: capitalize;
              color: $header-font;
      
              &:hover {
                i {
                  color: $main-color;
                }
              }
              
            }
          }
        }
      }
  
      .onhover-dropdown {
        .onhover-show-div {
          display: block;
          li {
            padding-left: 0;
            display: flex;
            font-size: 15px;
            padding-bottom: 5px;
  
            &:last-child {
              padding-bottom: 0;
            }
  
            a {
              color: $font-color;
            }
          }
        }
      }
    }

    .onhover-dropdown {
      position: relative;
      font-size: 14px;
    
      &:before {
        content: "\f107";
        font-family: $font-awesome;
        position: absolute;
        right: 3px;
      }
    
      .onhover-show-div {
        @extend %show-div;
    
        &.product-page-full {
          z-index: 99999;
        }
      }
    
      &:hover {
        .onhover-show-div {
          opacity: 1;
          transform: translateY(0px);
          visibility: visible;
        }
      }
    }
  }

  .tools-nav {
    .onhover-div {
      position: relative;
      margin-top: 40px;
      padding-bottom: 40px;
      font-family: $font_0, $font_1;
    
      img,
      i {
        cursor: pointer;
      }
    
      .show-div {
        @extend %show-div;

        z-index: 9;
        min-width: 236px;
        text-align: left;
        padding: 0;
        border-radius: 0 ;
      }
    
      &:hover {
        .show-div {
          opacity: 1;
          transform: translateY(0px);
          visibility: visible;
        }
      }
    }

    .search-overlay {
      height: 100%;
      width: 100%;
      display: none;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: lighten($white, 5%);
    
      .wrapper {
        height: 100%;
        width: 100%;
    
        .overlay-content {
          width: 100%;

          form {
            width: 100%;
          }
    
          input {
            width: 100%;
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid lighten($black, 46.5%);
            border-radius: 0;
            padding: 20px 0;
    
            &::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: lighten($black, 46.5%);
              font-size: 18px;
            }
    
            &::-moz-placeholder {
              /* Firefox 19+ */
              color: lighten($black, 46.5%);
              font-size: 18px;
            }
    
            &:-ms-input-placeholder {
              /* IE 10+ */
              color: lighten($black, 46.5%);
              font-size: 18px;
            }
    
            &:-moz-placeholder {
              /* Firefox 18- */
              color: lighten($black, 46.5%);
              font-size: 18px;
            }
          }
    
          button {
            position: absolute;
            top: 10px;
            background-color: transparent;
            border: 0;
            font-size: 24px;
            color: lighten($black, 46.5%);
            right: 10px;

            @media screen and(max-width:767px) {
              top: 0;
              right: 0;
            }

            i {
              display: block;
            }
          }
        }
    
        .closebtn {
          position: fixed;
          top: 10px;
          right: 25px;
          color: lighten($black, 46.5%);
          font-size: 40px;
          cursor: pointer;
        }
      }
    }
  }

  .main-menu {
    width: 100%;
    position: relative;
    z-index: 9;
  
    &.product-full-page {
      z-index: 9999;
    }
  
    .brand-logo {
      display: inline-block;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  
    .menu-left {  
      .navbar {
        display: inline-block;
        padding: 40px 45px 40px 0;
  
        i {
          font-size: 25px;
          color: $dark-font;
          cursor: pointer;
        }
      }
    }
  
    .menu-right {  
      .icon-nav {
        display: inline-block;  
        li {
          padding-left: 20px;
        }
  
        .onhover-div {
          .show-div {
            ul {
              display: block;
            }
            &.shopping-cart {
              padding: 15px 15px;
              min-width: 270px;
              left: unset;
              right: 0;
              display: block;
              li {
                position: relative;
                padding-bottom: 10px;
                width: 100%;
  
                &:last-child {
                  padding-bottom: 0;
                }
  
                .media {
                  img {
                    height: 90px;
                  }
  
                  .media-body {
                    align-self: center;
  
                    h4 {
                      color: $font-color;
  
                      span {
                        color: $grey;
                        font-size: 16px;
                      }
                    }
                  }
                }
  
                .close-circle {
                  position: absolute;
                  top: 0;
                  right: 0;
  
                  i {
                    color: $grey-light;
                    transition: all 0.3s ease;
  
                    &:hover {
                      color: $black;
                      transition: all 0.3s ease;
                    }
                  }
                }
  
                .total {
                  border-top: 1px solid $border-grey;
                  border-bottom: 1px solid $border-grey;
                  padding-top: 10px;
                  padding-bottom: 10px;
  
                  h5 {
                    text-transform: capitalize;
                    margin-bottom: 0;
                    color: $header-font;
  
                    span {
                      float: right;
                    }
                  }
                }
  
                .buttons {
                  a {
                    font-size: 16px;
                    color: $font-color;
                    text-transform: capitalize;
                    font-weight: 700;
  
                    &:hover {
                      color: $main-color;
                    }
                  }
                }
              }
            }
  
            &.setting {
              padding: 15px 20px 20px;
              min-width: 175px;
              right: 0;
              left: unset;
  
              h6 {
                font-size: 16px;
                text-transform: capitalize;
                color: $font-color;
                font-weight: 700;
                margin-bottom: 0;
                margin-top: 5px;
  
                &:first-child {
                  margin-top: 0;
                }
              }
  
              ul {
                li {
                  padding-bottom: 0;
                  padding-left: 17px;
                  padding-top: 5px;
  
                  a {
                    color: $font-color;
                    font-weight: 400;
                    font-size: 16px;
                    text-transform: capitalize;
                  }
                }
              }
            }
  
            li {  
              .form-control {
                border-radius: 0;
  
                &:focus {
                  border: 1px solid #ced4da;
                  box-shadow: none;
                }
              }
  
              .search-btn {
                padding: 8px 12px;
                background-color: $main-color;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  /** MAIN MENU LOGIC */
  .toggle-nav {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;

    i {
      font-size: 24px;
      color: $main-color;
      opacity: 1;
    }
  }

  .new-tag {
    padding-left: 3px;
    color: $main-color;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }

  .up-text {
    position: relative;
  
    span {
      position: absolute;
      top: -5px;
      right: -10px;
      color: $main-color;
      font-size: 12px;
      font-weight: 700;
    }
  }

  .mega-box {
    .link-section {
      .demo {
        ul {
          li {
            a {
              position: relative;

              &:hover,
              &:focus {
                padding-top: 3px;
                padding-bottom: 3px;
              }
            }
          }
        }

        .new {
          position: absolute;
          top: -8px;
          right: 0px;
          color: white;
          background-color: $main-color;
          padding: 2px 7px;
          text-transform: uppercase;
          font-size: 9px;
          line-height: 1.3;
        }

        .title {
          border-bottom: 2px solid red !important;
        }
      }
    }
  }
}

// nav //
.nav-wrapper {
  ul {
    border-radius: 0;

    li {
      width: 100%;
    }
  }

  a {
    &,
    &:hover,
    &:active {
      padding-right: 45px;
      color: #222222;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      text-decoration: none;
      text-transform: uppercase;
      padding-top: 42px;
      padding-bottom: 42px;
      letter-spacing: 0.07em;
    }

    .sub-arrow {
      margin-top: -22px;
      right: 7px;
    }

    &:hover {
      color: $main-color;
    }

    &.disabled {
      color: lighten($main-color, 30%);
    }

    .sub-arrow {
      position: absolute;
      top: 50%;
      margin-top: -(ceil(34px / 2));
      left: auto;
      right: 15px;
      width: 34px;
      height: 34px;
      overflow: hidden;
      font: bold 16px/34px monospace !important;
      text-align: center;
      text-shadow: none;
      border-radius: 8px;
    }
  }

  border-radius: 8px;

  ul {
    background: $white;

    a {
      &,
      &:hover,
      &:focus,
      &:active {
        background: $white;
        color: #ff3522;
        font-size: 14px;
        text-shadow: none;
      }

      &.current {
        background: $theme-deafult;
        color: $white;
      }

      &.disabled {
        color: darken($white, 30%);
      }
    }

    @include sub_items(8px);

    li {
      border-top: 1px solid rgba(0, 0, 0, 0.05);

      &:first-child {
        border-top: 0;
      }
    }
  }

  .mega {
    .full-mega-menu {
      &.center-mega-menu {
        margin-left: 0 !important;
      }
    }

    ul {
      margin-left: 0 !important;
      max-width: max-content;
    }
  }

  .icon-trend {
    color: $main-color;
  }

  .full-mega-menu,
  .clothing-menu {
    max-width: inherit !important;
    padding: 30px 0 15px;

    a {
      padding: 0;
      position: relative;

      h6 {
        font-size: 14px;
        text-align: center;
        transition: all 0.5s ease;
        font-weight: 400;
        text-transform: capitalize;
        color: #222222;
      }

      img {
        display: flex;
        margin: 0 auto;
      }

      &:hover {
        &:before {
          width: 50px;
          height: 2px;
          transition: 0.5s ease;
        }

        h6 {
          transition: all 0.5s ease;
        }
      }
    }
  }

  .link-section {
    h5 {
      font-weight: 700;
      text-transform: capitalize;
      font-size: 14px;
    }

    ul {
      position: relative;
      display: block;
      padding: 0;

      li {
        a {
          padding-top: 3px;
          padding-bottom: 3px;
          font-size: 14px;
          padding-left: 0;
        }
      }
    }
  }

  .full-mega-menu {
    width: 100% !important;
    padding: 30px;
    border-radius: 0;

    .mega-box {
      .link-section {
        ul {
          li {
            a {
              &:hover,
              &:focus {
                padding-top: 3px;
                padding-bottom: 3px;
              }
            }
          }
        }
      }
    }

    .img-section {
      img {
        margin-top: 15px;
      }
    }
  }
  .mega-menu {
    ul {
      box-shadow: none;
    }
  }

  li {
    a {
      position: relative;
    }
  
    .lable-nav {
      position: absolute;
      background-color: $main-color;
      padding: 2px 7px;
      color: $white;
      top: 20px;
      text-transform: uppercase;
      font-size: 9px;
      left: 0;
      line-height: 1.3;
  
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $main-color;
        top: 15px;
        left: 5px;
      }
  
      &.lable-red {
        background-color: $color-red;
  
        &:before {
          border-top: 5px solid $color-red;
        }
      }
    }
  }
}

a {
  .sub-arrow {
    &::before {
      content: "\f107";
      font-family: $font-awesome;
      position: absolute;
    }
  }
}

// Responsive menu css start //
@media (min-width: 1200px) {
  .toggle-nav {
    display: none;
  }

  .mobile-back {
    display: none;
  }

  .nav-wrapper {
    ul {
      position: absolute;
      width: 16em !important;
      
      a {
        white-space: normal;
      }
    }

    li {
      position: relative;
      float: left;
    }
    
    a {
      white-space: nowrap;
    }

    .sm-nowrap > li > a,
    .sm-nowrap>li> :not(ul) a {
      white-space: nowrap;
  
      &.highlighted {
        white-space: nowrap;
      }
    }
  }

  .nav-wrapper {
    ul {
      box-shadow: 0 0 1px 0 rgba(235, 235, 235, 1);
    }

    .mega {
      position: static !important;

      ul {
        margin-left: 0 !important;

        ul {
          box-shadow: none;
        }
      }
    }

    .full-mega-menu,
    .clothing-menu {
      box-shadow: 0 0 1px 0 rgba(235, 235, 235, 1);

      a {
        padding: 0;
        position: relative;
      }
    }

    .full-mega-menu {
      position: absolute;
      background-image: url("../images/mega.jpg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;

      ul {
        background-color: transparent;
      }

      .mega-box {
        max-width: 20%;
      }
    }

    ul {
      border: none;
      padding: 15px 0px 15px 0px;
      background: $white;

      ul {
        background: $white;
      }

      a {
        margin-left: 20px;
        position: relative;

        &:before {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          height: 2px;
          width: 0;
          background-color: $main-color;
          transition: 0.5s ease;
        }

        &,
        &:hover,
        &:focus,
        &:active,
        &.highlighted {
          border: 0 !important;
          background: $white;
          color: $dark-font;
          border-radius: 0 !important;
          font-size: 14px;
          font-weight: 400;
          text-transform: capitalize;
          padding: 5px 0;

          &:hover {
            &:before {
              width: 50px;
              height: 2px;
              transition: 0.5s ease;
            }
          }
        }

        .sub-arrow {
          &:before {
            content: "\f105";
            font-family: $font-awesome;
            position: absolute;
          }
        }
      }

      li {
        border: 0;
        a {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 1367px) {
  .nav-wrapper {
    a {
      font-size: 14px;

      &:hover,
      &:active {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1199px) {
  header {
    #main-menu {
      position: fixed;
      background-color: #fff;
      width: 300px;
      border-radius: 0;
      border: 1px solid #eee;
      top: 0;
      height: 100vh;
      right: -300px;
      z-index: 99;
      transition: all 0.3s ease;
      overflow: scroll;
      padding: 0 5px;
      &.active {
        right: 0;
      }

      a {
        font-weight: 700;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active {
          font-weight: 700;
        }
      }

      ul {
        padding-left: 15px;
        a {
          font-weight: 500;

          &:hover,
          &:focus,
          &:active {
            font-weight: 500;
          }
        }
        ul {
          padding-left: 0;

          a {
            font-weight: 500;

            &:hover,
            &:focus,
            &:active {
              font-weight: 500;
            }
          }
        }
      }

      h5 {
        cursor: pointer;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      .has-submenu {
        .sub-arrow {
          &:before {
            content: "+";
          }
        }
        &.highlighted {
          .sub-arrow {
            &:before {
              content: "-";
            }
          }
        }
      }
    }

    .mobile-back {
      padding: 20px;
      font-size: 18px;
      color: #222222;
      text-transform: uppercase;
      border-bottom: 1px solid #efefef;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px;

      i {
        position: relative;
        top: -2px
      }
    }

    .mega-box {
      &.col {
        flex-basis: unset;
      }
      .link-section {
        .demo {
          ul {
            li {
              a {
                span {
                  img {
                    top: 30px;
                    right: -60px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .menu-title {
      position: relative;
      padding: 5px 0;
      .according-menu {
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: auto;
        right: 0;
        width: 34px;
        height: 34px;
        overflow: hidden;
        font: bold 16px/34px monospace !important;
        text-align: center;
        text-shadow: none;
        border-radius: 8px;
        &::before {
          content: "+";
        }
      }
      &.active {
        .according-menu {
          &::before {
            content: '-';
          }
        }
      }
    }
  }
  .nav-wrapper {
    .full-mega-menu {
      padding: 0 !important;
      .container {
        padding: 0 15px;
      }
    }
    ul {
      li {
        border: none;
      }
    }
    li {      
      .lable-nav {
        left: 15px;
        top: -8px;
      }

      a {
        padding: 10px 15px;
        &:hover {
          padding: 10px 15px;
        }
      }

      ul {
        li {
          a {
            padding: 5px 0;
            font-size: 14px;
            color: $dark-font;
            &:hover {
              color: $main-color;
              font-size: 14px;
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .top-header {
    .header-contact {
      display: none;
    }
  }
}

@media (min-width: 578px) {
  .main-menu {
    .menu-right {
      .icon-nav {

        .mobile-search,
        .mobile-cart,
        .mobile-setting {
          i {
            display: none;
          }

          .close-circle {
            i {
              display: block;
            }
          }
        }

        .mobile-search {
          .show-div {
            .form-inline {
              button {
                i {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:577px) {
  .top-header {
    height: 0;
  }

  .main-nav-center {
    .toggle-nav {
      right: 15px;
      top: -85px;
    }
  }

  .mobile-fix-option {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color: $font-color;
    width: 100vw;
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgba(168, 168, 168, 1);
  }

  .top-header {
    .header-dropdown {

      .mobile-account,
      .mobile-wishlist {
        position: fixed;
        bottom: 20px;
        right: 32%;
        font-size: 0;
        padding: 0;
        z-index: 9;

        i {
          font-size: 22px;
          font-family: $font-themify;
          color: $header-font;

          &:before {
            content: "\e602";
          }
        }

        .onhover-show-div {
          top: unset;
          bottom: 42px;
          right: 0;
        }

        &:hover {
          i {
            color: $header-font;
          }
        }
      }

      .mobile-wishlist {
        right: 64%;

        i {
          font-family: $font-themify;
          color: $header-font !important;

          &:before {
            content: "\e634";
          }
        }
      }
    }
  }

  .main-menu {
    .menu-left {
      &.category-nav-right {
        .navbar {
          padding-left: 0 !important;
        }
      }

      .navbar {
        padding: 30px 45px 30px 0 !important;
      }
    }

    .menu-right {
      .icon-nav {

        .mobile-setting,
        .mobile-cart,
        .mobile-search {
          position: fixed;
          bottom: 20px;
          right: 16%;
          font-size: 0;
          padding: 0;

          .show-div {
            top: -58px;
            left: 0;

            &.shopping-cart {
              top: unset;
              bottom: 42px;
              left: -118px !important;
            }
          }
        }

        .mobile-setting {
          i {
            display: inline-block;
            font-size: 22px;
            color: $header-font;
          }

          >div {
            img {
              display: none;
            }
          }

          .setting {
            top: unset;
            bottom: 42px;
            left: unset !important;
          }
        }

        .mobile-cart {
          right: 48%;

          .close-circle {
            i {
              font-size: 14px;
            }
          }

          i {
            display: inline-block;
            font-size: 22px;
            color: $header-font;
          }

          >div {
            img {
              display: none;
            }
          }
        }

        .mobile-search {
          right: 80%;
          z-index: 1;

          i {
            display: inline-block;
            font-size: 22px;
            color: $header-font;
          }

          img {
            display: none;
          }

          .show-div {
            .form-group {
              margin-bottom: 0;
            }

            .form-inline {
              button {
                i {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .brand-logo {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .toggle-nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .brand-logo {
    img {
      height: 25px;
    }
  }
}
