/* stylelint-disable selector-no-id, declaration-no-important, rule-empty-line-before */

//grid
$container: 1400px;
$container-padding: 15px;
$container-high-end: 90%;

$sidebar-width: 380px;
$content-full: 100%;

// colors
$third-color: #992020;
$secondary-color: #ff4c3b;
$primary-color: #222;
$dark-gray: #333;
$gray-color: #444;
$lighter-color: #ddd;

$border-light: #ced4da;
$border-secondary: #dee2e6;
$input-focus: #80bdff;

$white: #fff;
$black: #000;

// breakpoints
$screen-high-end: 1920px;
$screen-l: 1280px;
$screen-tablet: 1024px;
$screen-mobile: 768px;
$screen-xs: 320px;

// breakpoints for grid drawer
$gd-breakpoints: (
  "-high-end": $screen-high-end,
  "-desktop": $screen-l,
  "-tablet": $screen-tablet,
  "-mobile": $screen-mobile,
  "-iPhone": $screen-xs,
);

// padding
$padding-smallest: 5px;
$padding-min: 10px;
$padding-xs: 15px;
$padding-small: 20px;
$padding-regular: 30px;
$padding-large: 40px;
$padding-xl: 60px;

// margin
$margin-smallest: 5px;
$margin-min: 10px;
$margin-xs: 15px;
$margin-small: 20px;
$margin-regular: 30px;
$margin-large: 40px;
$margin-xl: 60px;

// font-size
$size-large: 24px;
$size-semi-large: 18px;
$size-primary: 16px;
$size-small: 14px;

// line-height
$height-large: 28px;
$height-primary: 18px;
$height-small: 16px;

//letter-spacing
$spacing-large: 28px;
$spacing-primary: 18px;
$spacing-small: 0.05em;

// font-family
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;

// font color
$color-primary: #777;
$color-secondary: #212121;
$color-brighter: #999;
$color-hover: $secondary-color;

// font weight
$weight-thin: 300;
$weight-light: 400;
$weight-regular: 500;
$weight-bold: 600;
$weight-strong: 700;

// background
$background-primary: $white;
$background-secondary: #f8f8f8;


$main-color: #992020;
$dark-font: #222222;

$round-border: #dddddd;

$font-color:#333333;

$top-header: #f8f8f8;

$header-font: #999999;

$font-awesome: FontAwesome;

$font_0: Lato;
$font_1: sans-serif;

$grey: #777777;

$grey-light: #a1a1a1;

$border-grey: #f1f5f4;

$theme-deafult: #ff4c3b;

$color-red:#ff4c3b;

$font-themify: themify;

$grey3: #efefef;

$grey-font: #938d8c;

$white-dark: #eeeeee;

$dark-footer: #2e2726;

$darker-footer: #25221e;

$grey-shade: #7f786d;

$grey2:#555555;

$theme-body-sub-title-color: #777777;


@mixin sub_items($amount, $chainable: 'ul ', $level: 4, $chain: '') {
  @for $i from 1 through $level {
    $chain: $chain + $chainable;
    #{$chain} a,
    #{$chain} a:hover,
    #{$chain} a:focus,
    #{$chain} a:active {
      border-left: ($amount * ($i + 1)) solid transparent;
    }
  }
}
