/* stylelint-disable selector-no-id, declaration-no-important, rule-empty-line-before */

$pink: #ff009b;
$gray: #989898;
$black: #000;


// multikart settings
$main-color: black;
$main-font: 'Lato, sans-serif';
